# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Colorize BSD ls
export CLICOLOR=1

# for MacPorts
export PATH="$PATH:/opt/local/bin:/opt/local/sbin"
