# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Colorize BSD ls
export CLICOLOR=1

if [[ -e ~/.exports_aws ]]; then source ~/.exports_aws; fi
