[user]
	name = Nick Lopez
	email = (none)
[push]
	default = matching
[alias]
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
